body{
font-family:Segoe UI;
}

.hero-section{
height:90vh;
display:flex;
align-items:center;
justify-content:center;
background:linear-gradient(
135deg,
#0f172a,
#1e293b
);
color:white;
}

.feature-card{
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,.1);
transition:.3s;
}

.feature-card:hover{
transform:translateY(-10px);
}

.dark-body{
background:#0f172a;
}

.glass-card{
margin-top:100px;
padding:30px;
background:rgba(255,255,255,.1);
backdrop-filter:blur(20px);
border-radius:20px;
color:white;
}

.dashboard-body{
background:#0f172a;
color:white;
}

.sidebar{
position:fixed;
width:250px;
height:100vh;
background:#111827;
padding:20px;
}

.sidebar a{
display:block;
color:white;
padding:12px;
text-decoration:none;
border-radius:10px;
margin-top:10px;
}

.sidebar a:hover{
background:#1f2937;
}

.main-content{
margin-left:270px;
padding:30px;
}

.dashboard-card{
background:#1e293b;
padding:25px;
border-radius:20px;
margin-bottom:20px;
box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.alert-card{
border-left:5px solid #22c55e;
}

.glass-nav{
background:rgba(0,0,0,.3);
backdrop-filter:blur(15px);
}
